<?xml version="1.0" ?>
<robot name="partnet_eb5ee68891c5ebdc5ac5c09aa9151e25">
	<link name="base"/>
	<link name="link_0">
		<visual name="switch-2">
			<origin xyz="-0.18212439846162776 -0.019165364518233568 -0.5326065786393792"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="switch-2">
			<origin xyz="-0.18212439846162776 -0.019165364518233568 -0.5326065786393792"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.18212439846162776 -0.019165364518233568 -0.5326065786393792"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.18212439846162776 -0.019165364518233568 -0.5326065786393792"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="-0.0964185988512134 -0.5545276354817665 0.2383601804665142"/>
		<axis xyz="0.9659263433040008 1.0768078400393917e-07 0.25881711556879294"/>
		<child link="link_0"/>
		<parent link="link_2"/>
	</joint>
	<link name="link_1">
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
	<link name="link_2">
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-3">
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.27854299731284116 -0.5736930000000001 -0.294246398172865"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="revolute">
		<origin xyz="0.27854299731284116 0.5736930000000001 0.294246398172865"/>
		<axis xyz="0 1 0"/>
		<child link="link_2"/>
		<parent link="link_1"/>
		<limit lower="-1.3194689145077125" upper="1.5833626974092556"/>
	</joint>
</robot>
