<?xml version="1.0" ?>
<robot name="partnet_117711079f903de35c90c1d7bd498fbb">
	<link name="base"/>
	<link name="link_0">
		<visual name="button-5">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_0"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_1">
		<visual name="button-6">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_1"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_2">
		<visual name="button-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_2"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_3">
		<visual name="button-8">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_3" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_3"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_4">
		<visual name="button-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_4" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_4"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_5">
		<visual name="button-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_5" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_5"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_6">
		<visual name="button-11">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_6" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_6"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_7">
		<visual name="button-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_7" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_7"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_8">
		<visual name="button-13">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_8" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_8"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_9">
		<visual name="button-14">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_9" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_9"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_10">
		<visual name="button-15">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_10" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_10"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_11">
		<visual name="button-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_11" type="fixed">
		<origin xyz="-0.53 -0.656388 -0.59"/>
		<axis xyz="0 0 -1"/>
		<child link="link_11"/>
		<parent link="link_13"/>
		<limit lower="0" upper="0.004"/>
	</joint>
	<link name="link_12">
		<visual name="base_body-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-0.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-1.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-part-19.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_12" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_12"/>
		<parent link="base"/>
	</joint>
	<link name="link_13">
		<visual name="door-4">
			<origin xyz="-0.53 -0.656388 -0.59"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="door-4">
			<origin xyz="-0.53 -0.656388 -0.59"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="handle-19">
			<origin xyz="-0.53 -0.656388 -0.59"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="handle-19">
			<origin xyz="-0.53 -0.656388 -0.59"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.53 -0.656388 -0.59"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.53 -0.656388 -0.59"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.53 -0.656388 -0.59"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.53 -0.656388 -0.59"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_13" type="revolute">
		<origin xyz="0.53 0.656388 0.59"/>
		<axis xyz="0 1 0"/>
		<child link="link_13"/>
		<parent link="link_12"/>
		<limit lower="0.0" upper="2.9670597283903604"/>
	</joint>
</robot>
