<?xml version="1.0" ?>
<robot name="partnet_a805e6a1651b06aaeb69804478f9c547">
	<link name="base"/>
	<link name="link_0">
		<visual name="door-1">
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="door-1">
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.36400595678338493 -0.648501 -0.212485359986955"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="revolute">
		<origin xyz="0.36400595678338493 0.648501 0.212485359986955"/>
		<axis xyz="0 1 0"/>
		<child link="link_0"/>
		<parent link="link_2"/>
		<limit lower="-0.5152211951887261" upper="2.5949555318651694"/>
	</joint>
	<link name="link_1">
		<visual name="handle-5">
			<origin xyz="-0.08313694413442765 -0.11743864096306886 -0.4204186448753276"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="handle-5">
			<origin xyz="-0.08313694413442765 -0.11743864096306886 -0.4204186448753276"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.08313694413442765 -0.11743864096306886 -0.4204186448753276"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.08313694413442765 -0.11743864096306886 -0.4204186448753276"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin xyz="-0.28086901264895725 -0.5310623590369311 0.2079332848883726"/>
		<axis xyz="0.4999947735612932 2.942941588187545e-05 0.8660284207491696"/>
		<child link="link_1"/>
		<parent link="link_0"/>
	</joint>
	<link name="link_2">
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
	<link name="link_3">
		<visual name="switch-6">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</visual>
		<visual name="switch-6">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-7">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<visual name="outlier-8">
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.11887426709008031 -0.3592191186084054 -0.06864868929159593"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_3" type="fixed">
		<origin xyz="-0.48288022387346524 -0.2892818813915946 -0.14383667069535908"/>
		<axis xyz="-0.5000030207161373 3.867898438007658e-05 -0.866023658902385"/>
		<child link="link_3"/>
		<parent link="link_0"/>
	</joint>
</robot>
