<?xml version="1.0" ?>
<robot name="partnet_547ad62bd93988fff0117851f0671fde">
	<link name="base"/>
	<link name="link_0">
		<visual name="lock-3">
			<origin xyz="0.5118554581827808 -0.6353799999999998 0.13112001848779942"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</visual>
		<visual name="lock-3">
			<origin xyz="0.5118554581827808 -0.6353799999999998 0.13112001848779942"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.5118554581827808 -0.6353799999999998 0.13112001848779942"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.5118554581827808 -0.6353799999999998 0.13112001848779942"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="-0.5118554581827808 0.6353799999999998 -0.13112001848779942"/>
		<axis xyz="0 -1 0"/>
		<child link="link_0"/>
		<parent link="link_4"/>
		<limit lower="0" upper="0.01200000000000001"/>
	</joint>
	<link name="link_1">
		<visual name="lock-4">
			<origin xyz="0.5118554581827808 -0.6353799999999998 0.13112001848779942"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</visual>
		<visual name="lock-4">
			<origin xyz="0.5118554581827808 -0.6353799999999998 0.13112001848779942"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.5118554581827808 -0.6353799999999998 0.13112001848779942"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.5118554581827808 -0.6353799999999998 0.13112001848779942"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin xyz="-0.5118554581827808 0.6353799999999998 -0.13112001848779942"/>
		<axis xyz="0 -1 0"/>
		<child link="link_1"/>
		<parent link="link_4"/>
		<limit lower="0" upper="0.012"/>
	</joint>
	<link name="link_2">
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="lid-5">
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0.4702133012073091 0.10592495739692812"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="revolute">
		<origin xyz="0 -0.4702133012073091 -0.10592495739692812"/>
		<axis xyz="1 0 0"/>
		<child link="link_2"/>
		<parent link="link_4"/>
		<limit lower="-0.7853981633974483" upper="2.356194490192345"/>
	</joint>
	<link name="link_3">
		<visual name="handle-6">
			<origin xyz="-0.6380940000000006 -0.6893612773707587 0.14633417109680275"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.6380940000000006 -0.6893612773707587 0.14633417109680275"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_3" type="fixed">
		<origin xyz="0.6380940000000006 0.6893612773707587 -0.14633417109680275"/>
		<axis xyz="1 0 0"/>
		<child link="link_3"/>
		<parent link="link_4"/>
		<limit lower="-0.0" upper="2.8797932657906435"/>
	</joint>
	<link name="link_4">
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_4" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_4"/>
		<parent link="base"/>
	</joint>
</robot>
