<?xml version="1.0" ?>
<robot name="partnet_49a5c5f524eb73b8391e4d6c585a697a">
	<link name="base"/>
	<link name="link_0">
		<visual name="board-15">
			<origin xyz="-0.3058252822582951 -0.18406416344834303 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.3058252822582951 -0.18406416344834303 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="0.3058252822582951 0.18406416344834303 -0.2449249999999994"/>
		<axis xyz="0 0 1"/>
		<child link="link_0"/>
		<parent link="link_3"/>
		<limit lower="0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_1">
		<visual name="board-16">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin xyz="-0.4127133230581761 0.16536374127677872 -0.2449249999999994"/>
		<axis xyz="0 0 -1"/>
		<child link="link_1"/>
		<parent link="link_3"/>
		<limit lower="-0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_2">
		<visual name="drawer_front-39">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-40">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-41">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-42">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-43">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="handle-38">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="handle-38">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="handle-38">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="handle-38">
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.4127133230581761 -0.16536374127677872 0.2449249999999994"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="prismatic">
		<origin xyz="-0.4127133230581761 0.16536374127677872 -0.2449249999999994"/>
		<axis xyz="0 0 1"/>
		<child link="link_2"/>
		<parent link="link_3"/>
		<limit lower="0" upper="0.5960000000000001"/>
	</joint>
	<link name="link_3">
		<visual name="board-17">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-32">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</visual>
		<visual name="leg-33">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="leg-34">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</visual>
		<visual name="leg-35">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</visual>
		<visual name="leg-36">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_front_panel-44">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-45">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-27">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-27">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-28">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-28">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-52">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-54">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-55">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-47">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-47">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-48">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-48">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-49">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-49">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-50">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-50">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_3" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_3"/>
		<parent link="base"/>
	</joint>
</robot>
